
.navbar.navbar-expand-sm.navbar-light.bg-light {
    background-color: rgba(255, 255, 255, 0.466) !important;
    backdrop-filter: blur(10px);
}

header {
    position: sticky;
    top:0; 
    z-index: 2;
    
   
}

.navbar .container {
    margin-left:0; 
    margin-right:0; 
    min-width: 100%;
    max-width: 100%;

}

#collapsibleNavId {
    width:100%; 
}

.navbar .btn.btn-primary{
    width:8%; 
    border:none; 
    border-radius: 10px;
    margin:0 2px; 
    font-size:0.8em;
    text-align: center;
}

#login {
    background-color: rgb(0, 0, 0);
    color:white; 
}


#search-bar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.486);
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease;
}


nav form{
    width:100%; 
}

.search-bar:focus {
    border-color: #4a90e2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photo-gallery{
    max-width: 100%;
    margin:auto 2%;

}



