#search-form {
    position:static; 
    padding:0; 
    background-color: white;
}

.photo-gallery{
    margin:0; 
}

.save-changes {
   
    width:150px; 
}

#album-info-form {
    border:dashed 2px grey; 
    padding: 10px; 
    margin-bottom:3%; 
}

main {
    background-color: white;
    margin: 2% auto; 
    border-radius:10px; 
}

