.background-radial-gradient {
  min-height: 100vh;
  background-color:#cfe2ff;
  background: linear-gradient(#868686b2, #9191917a), 
  url('../webPictures/background.avif');
  background-repeat: no-repeat;
  background-size: cover;
  
  
}

  
  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }
  
  .alltexts {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3vh;
    gap: 2rem; 
  }

.alltexts .col-lg-6 {
        margin: 0 auto;
 }

 .error-message {
  color:red; 
 }

