.background-radial-gradient {
  min-height: 100vh;
  background-color: #cfe2ff;
  background-image: radial-gradient(650px circle at 0% 0%,
    #cfe2ff
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
    #cfe2ff
      transparent 100%);
}


.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

.alltexts{
  display: flex;
  margin-top: 3vh;
}

#signup-container {
  margin-top: 0px  !important; 
}

.alltexts {
  display: flex;
  justify-content: center;
}

