.background-radial-gradient {
  min-height: 100vh;
  background-color: #cfe2ff;
  background: linear-gradient(#868686b2, #9191917a), 
  url('../webPictures/background.avif');
  background-repeat: no-repeat;
  background-size: cover;
}


.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

.alltexts{
  display: flex;
  margin-top: 3vh;
}

#signup-container {
  margin-top: 0px  !important; 
}

.alltexts {
  display: flex;
  justify-content: center;
}

